@model PageSecond
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h3>Statystyki samochodu: </h3>
    <p>Rok_produkcji  @Model.Rok_produkcji </p>
    <p>Przebieg@Model.Przebieg</p>
    <p>Marka@Model.Marka</p>
    <p>Ilosc_miejsc @Model.Ilosc_miejsc</p>
    <p>Rodzaj_samochodu @Model.Rodzaj_samochodu</p>
}
